@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}

* {
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}
.display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}





/* ======================================================== iPhone ======================================================== */
.iphone-info-right {
  width: 20%;
  height: 3%;
  position: absolute;
  right: 2%;
  top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
.iphone-info-left {
  width: 18%;
  height: 3%;
  position: absolute;
  left: 3%;
  top: 2%;
  z-index: 3;
}
.iphone-info-time {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.iphone-info-icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.iphone-signal-icon {
  background-image: url(../img/icon/signal.png);
}
.iphone-wifi-icon {
  background-image: url(../img/icon/wifi.png);
}
.iphone-battery-icon {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/battery.png);
}

/* ======================================================== dribbble ======================================================== */
.dribbble {
  width: 320px;
  height: 640px;
  position: relative;
  background-image: url(../img/project-img/iphone-body.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header-split {
  position: absolute;
  width: 60%;
  height: 10%;
  background-color: #000;
  left: 20%;
  top: 0%;
}





/* <dribbble header> */
.dribbble-header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-image: url(../img/project-img/iphone-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.dribbble-header-info {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 5%;
  left: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dribbble-header-element {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dribbble-header-personal {
  border-radius: 100%;
  background-image: url(../img/icon/head.png);
}
.dribbble-header-logo {
  width: 150px;
  height: 30px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Pacifico;
  font-size: 1.8rem;
}
.dribbble-header-search {
  background-image: url(../img/icon/search.png);
}
/* </dribbble header> */





/* <dribbble filterbar> */
.dribbble-filterbar {
  width: 100%;
  height: 8%;
  display: flex;
}
.dribbble-filterbar-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dribbble-filterbar-views,
.dribbble-filterbar-time {
  width: 35%;
  height: 100%;
  justify-content: space-around;
}
.dribbble-filterbar-singlerow,
.dribbble-filterbar-multirow {
  width: 15%;
  height: 100%;
}
.filterName {
  font-size: 0.8rem;
  color: #666666;
  font-weight: bold;
}
.filterDropdown {
  width: 10px;
  height: 10px;
  border-left: 2px solid #666666;
  border-bottom: 2px solid #666666;
  transform: rotateZ(-45deg);
  margin-top: -6px;
  margin-left: -35px;
}
.arrangementBtn {
  width: 15px;
  height: 15px;
  background-color: #666666;
  position: relative;
  border-radius: 2px;
}
.dribbble-filterbar-multirow .arrangementBtn::before {
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  left: 7px;
  top: 0px;
  background-color: #FFF;
}
.dribbble-filterbar-multirow .arrangementBtn::after {
  display: block;
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  top: 7px;
  left: 0px;
  background-color: #FFF;
}
/* </dribbble filterbar> */





/* <dribbble navbar> */
.dribbble-navbar {
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dribbble-navbar-element {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.dribbble-navbar-personal {
  background-image: url(../img/icon/personal.png);
}
.dribbble-navbar-popular {
  background-image: url(../img/icon/popular-selected.png);
}
.dribbble-navbar-following {
  background-image: url(../img/icon/following.png);
}
.dribbble-navbar-more {
  background-image: url(../img/icon/more.png);
}
/* </dribbble navbar> */





/* <dribbble view> */
.dribbble-view {
  width: 100%;
  height: 69%;
}
.dribbble-view-content {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.artwork {}
.artwork-username {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}
.artwork-username-pic {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin-left: 10px;
}
.artwork-username-account {
  width: 200px;
  text-align: left;
  border: 0;
  padding: 0;
  margin-left: 10px;
  color: #0089ff;
  font-weight: bolder;
}
.artwork-cover {
  width: 100%;
  height: 70%;
  background-size: 99.5% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.artwork-info {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artwork-info-element {
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artwork-info-element-icon {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.artwork-info-element-sight {
  background-image: url(../img/icon/sight.png);
}
.artwork-info-element-message {
  background-image: url(../img/icon/message.png);
}
.artwork-info-element-like {
  background-image: url(../img/icon/like.png);
}
.artwork-info-element-count {
  width: 50px;
  text-align: left;
  border: 0;
  padding: 0;
  margin-left: 5px;
  color: #999899;
  font-size: 0.8rem;
}
.single-display {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
  grid-row-gap: 50px;
}
.multi-display {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 150px 150px 150px 150px 150px;
  grid-row-gap: 5px;
  justify-content: space-between;
}
/* </dribbble view> */
