@@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}

* {
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}
.display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================================================== dribbble ======================================================== */
.dribbble {
  width: 320px;
  height: 568px;
  border: 1px solid #000;
  background-color: #FFF;
  position: relative;
}





/* <dribbble header> */
.dribbble-header {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ef0083;
  /*background-color: hsl(0, 0%, 95%);*/
}
.dribbble-header-element {
  width: 20px;
  height: 20px;
  /*border-radius: 100%;*/
  /*background-color: #000;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dribbble-header-personal {
  border-radius: 100%;
  background-image: url(../img/icon/head.png);
}
.dribbble-header-logo {
  width: 150px;
  height: 30px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Pacifico;
  font-size: 1.8rem;
}
.dribbble-header-search {
  background-image: url(../img/icon/search.png);
}
/* </dribbble header> */





/* <dribbble filterbar> */
.dribbble-filterbar {
  width: 100%;
  height: 8%;
  display: flex;
  border-bottom: 1px solid hsl(0,0%,95%);
}
.dribbble-filterbar-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dribbble-filterbar-views,
.dribbble-filterbar-time {
  width: 35%;
  height: 100%;
  justify-content: space-around;
}
.dribbble-filterbar-singlerow,
.dribbble-filterbar-multirow {
  width: 15%;
  height: 100%;
}
.filterName {
  font-size: 0.8rem;
  color: #666666;
}
.filterDropdown {
  width: 10px;
  height: 10px;
  border-left: 1px solid #666666;
  border-bottom: 1px solid #666666;
  transform: rotateZ(-45deg);
  margin-top: -6px;
  margin-left: -35px;
}
.arrangementBtn {
  width: 20px;
  height: 20px;
  background-color: #666666;
  position: relative;
  border-radius: 2px;
}
.dribbble-filterbar-multirow .arrangementBtn::before {
  display: block;
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  left: 9px;
  top: 0px;
  background-color: #FFF;
}
.dribbble-filterbar-multirow .arrangementBtn::after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 0px;
  background-color: #FFF;
}
/* </dribbble filterbar> */





/* <dribbble navbar> */
.dribbble-navbar {
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid hsl(0, 0%, 95%);
  /*background-color: hsl(0, 0%, 95%);*/
}
.dribbble-navbar-element {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /*border: 1px solid #000;
  border-radius: 100%;*/
}
.dribbble-navbar-personal {
  background-image: url(../img/icon/personal.png);
}
.dribbble-navbar-popular {
  background-image: url(../img/icon/popular-selected.png);
}
.dribbble-navbar-following {
  background-image: url(../img/icon/following.png);
}
.dribbble-navbar-more {
  background-image: url(../img/icon/more.png);
}
/* </dribbble navbar> */





/* <dribbble view> */
.dribbble-view {
  width: 100%;
  height: 76%;
}
.dribbble-view-content {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.artwork {
  /*width: 100%;
  height: 300px;*/
  /*background-color: red;*/
}
.artwork-username {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}
.artwork-username-pic {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  /*background-color: #000;*/
  margin-left: 10px;
}
.artwork-username-account {
  width: 100px;
  text-align: left;
  border: 0;
  padding: 0;
  margin-left: 10px;
}
.artwork-cover {
  width: 100%;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* height: 100%; */
}
.artwork-project1 {
  background-image: url(../img/project-img/project1.png);
}
.artwork-project2 {
  background-image: url(../img/project-img/project2.png);
}
.artwork-project3 {
  background-image: url(../img/project-img/project3.png);
}
.artwork-project4 {
  background-image: url(../img/project-img/project4.png);
}
.artwork-project5 {
  background-image: url(../img/project-img/project5.png);
}
.artwork-project6 {
  background-image: url(../img/project-img/project6.png);
}
.artwork-project7 {
  background-image: url(../img/project-img/project7.png);
}
.artwork-project8 {
  background-image: url(../img/project-img/project8.png);
}
.artwork-project9 {
  background-image: url(../img/project-img/project9.png);
}
.artwork-project10 {
  background-image: url(../img/project-img/project10.png);
}
.artwork-info {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artwork-info-element {
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artwork-info-element-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.artwork-info-element-sight {
  background-image: url(../img/icon/sight.png);
}
.artwork-info-element-message {
  background-image: url(../img/icon/message.png);
}
.artwork-info-element-like {
  background-image: url(../img/icon/like.png);
}
.artwork-info-element-count {
  width: 40px;
  text-align: left;
  border: 0;
  padding: 0;
  margin-left: 5px;
  color: #999899;
}
.single-display {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
  grid-row-gap: 50px;
}
.multi-display {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 150px 150px 150px 150px 150px;
  grid-row-gap: 5px;
  justify-content: space-between;
}
/* </dribbble view> */
